<IfModule mod_headers.c>
  Header always set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
</IfModule>

BrowserMatch "Googlebot|Bingbot|Y!J-" crawler=true
RewriteEngine On
RewriteCond %{ENV:crawler} true
RewriteRule . - [F]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /database/index.cgi/$1 [QSA,L]
<Files ~ "\.py$">
  deny from all
</Files>

<IfModule mod_headers.c>
  # CSSやJSファイルを1時間キャッシュする例:
  <FilesMatch "\.(css|js|png|jpg|jpeg|gif|svg)$">
      Header set Cache-Control "max-age=3600, public"
  </FilesMatch>

  # HTMLはキャッシュしない例:
  <FilesMatch "\.html$">
      Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  </FilesMatch>
</IfModule>

<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
</IfModule>

